<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @meetup.title %>
</p>

<p>
  <b>Description:</b>
  <%= @meetup.description %>
</p>

<%= link_to 'Edit', edit_meetup_path(@meetup) %> |
<%= link_to 'Back', meetups_path %>
